
.error{
  color: #FF0000;
}

.ok{
  color: #008000;
}

.full-width{
  width:100%;
}

.tt-dropdown-menu{
  background:#fff;
  max-height: 150px;
  overflow-y: auto;
}

.tt-suggestions{
  background:#fff;
  padding:10px;
  width:200px;
}

.tt-dataset{
  border-bottom: 1px solid #666;
}

#wpckan_archive_post_orga{
  width:100%;
}

#wpckan_archive_post_group{
  width:100%;
}

#wpckan_archive_post_freq{
  width:100%;
}

#wpckan_related_datasets_add_field{
  width:100%;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 10px;
    line-height: 24px;
    border-bottom: 1px #CCC dotted;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.back_to_search{
	margin-bottom: 20px;
}
