
.error{
  color: #FF0000;
}

.ok{
  color: #008000;
}

.add{

}

.tt-dropdown-menu{
  background:#fff;
  max-height: 150px;
  overflow-y: auto;
}

.tt-suggestions{
  background:#fff;
  padding:10px;
  width:200px;
}

.tt-dataset{
  border-bottom: 1px solid #666;
}

#wpckan_archive_post_orga{
  width:100%;
}

#wpckan_archive_post_group{
  width:100%;
}

#wpckan_archive_post_freq{
  width:100%;
}

#wpckan_related_datasets_add_field{
  width:100%;
}
